<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Players</title>
    </head>
    <body>
        <div>
            <form method="GET">
                {{#if filter.sortBy}}
                    <input type="hidden" name="sortBy" value="{{filter.sortBy}}" />
                {{/if}}
                <input type="text" name="player" placeholder="Player"/>
                <input type="submit" />
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>Player</th>
                    <th>
                        <a href="?sortBy=yds" >Yds</a>
                    </th>
                    <th>TD</th>
                    <th>Lng</th>
                </tr>
                {{#each items }}
                <tr>
                    <td>{{this.player}}</td>
                    <td>{{this.yds}}</td>
                    <td>{{this.td}}</td>
                    <td>{{this.lng}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>